<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Rehearsal Scheduler" Language="1033" Version="1.0.0.0" Manufacturer="MacMartin" UpgradeCode="30a41654-aa68-4525-88a4-be31bb2af6e8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="RehearsalScheduler" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RehearsalScheduler" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Shell">
        <File Id="Shell.exe" Name="$(var.Shell.TargetFileName)" KeyPath="yes" Source="$(var.Shell.TargetPath)" />
      </Component>
      <Component Id="Entities">
        <File Id="Entities.dll" Name="$(var.Entities.TargetFileName)" KeyPath="yes" Source="$(var.Entities.TargetPath)" />
      </Component>
      <Component Id="Services">
        <File Id="Services.dll" Name="$(var.Services.TargetFileName)" KeyPath="yes" Source="$(var.Services.TargetPath)" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
